<div class="w-screen flex flex-row space-x-8 text-center pt-8 mb-10">
  <h1 class="text-xl ml-16 text-black font-light mt-2">Seleccione Puerto</h1>
  <select
    name=""
    id=""
    class="w-96 placeholder-black px-3 border border-teal-400 rounded-lg py-2 text-black text-lg mb-3"
  >
    <option value="Antofagasta">Antofagasta, Chile (CLANF )</option>
  </select>
  <div class="flex flex-row space-x-4 justify-center">
    <div class="flex flex-col">
      <img
        src="../../../assets/air-icon.svg"
        alt=""
        class="w-10 h-10 border-2 border-gray-200 rounded-lg shadow-md mx-auto"
      />
      <h6 class="text-sm">Aéreo</h6>
    </div>
    <div class="flex flex-row space-x-4 justify-center">
      <div class="flex flex-col">
        <img
          src="../../../assets/board.svg"
          alt=""
          class="w-10 h-10 border-2 border-gray-200 rounded-lg shadow-md mx-auto"
        />
        <h6 class="text-sm">Marítimo</h6>
      </div>
      <div class="flex flex-row space-x-4">
        <div class="flex flex-col">
          <img
            src="../../../assets/truck-icon.svg"
            alt=""
            class="w-10 h-10 border-2 border-gray-200 rounded-lg shadow-md mx-auto"
          />
          <h6 class="text-sm">Terrestre</h6>
        </div>
      </div>
    </div>
  </div>
</div>
