<div class="w-screen bg-slate-100 flex flex-row mb-0 pt-9 justify-between">
  <div class="flex flex-row space-x-0 ml-0">
    <div class="a py-px px-8 bg-gray-300 w-56 rounded-t-lg ml-6 mt-2">
      <h2 class="text-center text-slate-800 text-lg">Arribando</h2>
    </div>
    <div class="a py-px px-8 bg-teal-500 w-56 rounded-t-lg ml-6 text-center">
      <h2 class="text-gray-200 text-lg mt-1">Nacionalización</h2>
    </div>
  </div>
  <div class="">
    <div class="a py-px px-8 bg-gray-300 w-56 rounded-t-lg ml-6 mt-2">
      <h2 class="text-center text-slate-800 text-lg">Zarpando</h2>
    </div>
  </div>
</div>
